.cabeçalho{
    background-color: aqua;
   text-align: center;
}
a{
    color: aliceblue;
    padding: 20px;    text-decoration: none;
}
a:hover{
    color: black;
    animation: 0.5 ease-in-out;
    padding: 10px;
    transition: 2s ease;
}
.menu{
    background-color: dodgerblue;
    
    padding: 20px;
    
}
nav{
    display: flex;
    justify-content: space-between;
   
}

*{
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
   
}
footer{
    background-color: aqua;
    text-align: center;

}
.gmeio{
    margin-top: 30px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}




