.cabeçalho{
    background-color: aqua;
   text-align: center;
}
a{
    color: aliceblue;
    text-decoration: none;
}

.menu{
    background-color: dodgerblue;
    flex-wrap: wrap;
    padding: 20px;
    
}
nav{
    display: flex;
    justify-content: space-between;
   
}

*{
    bottom: 0;
    padding: 0;
    box-sizing: border-box;
   
}
footer{
    background-color: aqua;
    text-align: center;

}
.gmeio{
    margin-top: 30px;
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}



